*,
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #a0afbb;
}


.table {
  margin: 0 auto 25px;
}

.button {
  color: blue;
}

.hero-body {
  background-color: #a0afbb;
  font-size: 1rem;
}